@* <form class='form-inline'>
    <input class='form-control' type='text' name='Detail' placeholder= 'Please Enter ToDo Description'/>
    <input class= '' type='checkbox' name='IsCompleted' />
    <button class= 'btn btn-success' type='submit'>Submit</button>
</form> *@
